Analisis Sentimen Harian ($BTC_$ETH).json
{
  "name": "Analisis Sentimen Harian ($BTC_$ETH)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        -272
      ],
      "id": "37f093af-2efe-421d-ba82-86798ad23323",
      "name": "Tiap 15 menit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaf3931a-f271-4d62-a333-580542115bc5",
              "name": "Timestamp",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "57329187-3a68-4e94-acc0-b2753a519316",
              "name": "Tweet_ID",
              "value": 22446688,
              "type": "number"
            },
            {
              "id": "a454f7b9-0f2b-4622-800b-8c56f0c12097",
              "name": "Tweet_Text",
              "value": "Sentimen pasar terhadap Bitcoin ($BTC) sangat positif pagi ini karena volume transaksi meningkat tajam.",
              "type": "string"
            },
            {
              "id": "45e1a388-e1f5-4603-b646-ea40c88d83a6",
              "name": "Hasil_Analisis_AI",
              "value": "Positive",
              "type": "string"
            },
            {
              "id": "94312f9f-47bd-4ded-9c8a-6c54b7b3f37b",
              "name": "Score",
              "value": 0.85,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -272
      ],
      "id": "4f66ead9-49e7-4cf1-85ea-f5bec61d7979",
      "name": "Pengambil Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis sentimen dari teks berikut:\n\"{{ $json.Tweet_Text }}\"\n\nTugas Anda:\n1. Tentukan label sentimen: \"Positive\", \"Negative\", atau \"Neutral\".\n2. Berikan skor numerik (Score) antara 0 sampai 1 yang menunjukkan kekuatan sentimen tersebut (0 = sangat negatif, 1 = sangat positif).\n\nAturan Output (Wajib):\n- HANYA berikan label dan skor dalam format: Label | Skor\n- Contoh: Positive | 0.85\n- JANGAN berikan penjelasan, pembukaan, atau simbol markdown apapun.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -256,
        -272
      ],
      "id": "71992477-4823-4310-98b0-e5907c52b6c0",
      "name": "Analisis Sentimen"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "137M2Zu168E1_hzfAnu4PGQs5LuqdPMrP6F7Nxvlg3kE",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen Media Sosial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/137M2Zu168E1_hzfAnu4PGQs5LuqdPMrP6F7Nxvlg3kE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/137M2Zu168E1_hzfAnu4PGQs5LuqdPMrP6F7Nxvlg3kE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "Tweet_ID": "={{ $('Pengambil Data').item.json.Tweet_ID }}",
            "Tweet_Text": "={{ $('Pengambil Data').item.json.Tweet_Text }}",
            "Score": "={{ $json.text.split('|')[1].trim() }}",
            "Hasil_Analisis_AI": "={{ $json.text.split('|')[0].trim() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tweet_ID",
              "displayName": "Tweet_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tweet_Text",
              "displayName": "Tweet_Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hasil_Analisis_AI",
              "displayName": "Hasil_Analisis_AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        -272
      ],
      "id": "0cc5b5ab-d178-41cf-aa9b-2b8f3486cbf3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wuw55baZxEEfGvfx",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -160,
        -112
      ],
      "id": "b64aba72-bcb8-46c4-96dc-2e855255bf3c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "TBKCwA5KivmDJdyo",
          "name": "Groq account 2(kaff23)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        64
      ],
      "id": "2e4c6ff4-50b1-4741-9894-0502a21c9544",
      "name": "Tiap jam 7 pagi1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DL0u97raguzuNN6V44xxwSSc_0sVdLv2hFLPs1gPPes",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen Media Sosial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DL0u97raguzuNN6V44xxwSSc_0sVdLv2hFLPs1gPPes/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DL0u97raguzuNN6V44xxwSSc_0sVdLv2hFLPs1gPPes/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -512,
        64
      ],
      "id": "923f377f-5b9b-499b-938f-51f5f818359a",
      "name": "Baca Data1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wuw55baZxEEfGvfx",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet positive = 0;\nlet negative = 0;\nlet neutral = 0;\n\nfor (const item of items) {\n  const sentiment = item.json.Hasil_Analisis_AI;\n\n  if (sentiment === 'Positive') {\n    positive++;\n  } else if (sentiment === 'Negative') {\n    negative++;\n  } else if (sentiment === 'Neutral') {\n    neutral++;\n  }\n}\n\nreturn [\n  {\n    json: {\n      total_tweets: items.length,\n      sentimen_positif: positive,\n      sentimen_negatif: negative,\n      sentimen_netral: neutral\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        64
      ],
      "id": "1d04a74d-eb36-47d1-9d98-0bd197f17d98",
      "name": "Analisis Data1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah seorang analis sentimen media sosial.\nTuliskan kesimpulan singkat (dalam bahasa Indonesia) untuk laporan Telegram, berdasarkan data berikut:\n\n- Total Tweet Dianalisis: {{ $json.total_tweets }}\n- Sentimen Positif: {{ $json.sentimen_positif }}\n- Sentimen Negatif: {{ $json.sentimen_negatif }}\n- Sentimen Netral: {{ $json.sentimen_netral }}\n\nBerikan ringkasan singkat tentang apa arti angka-angka ini.\n\nBerikan laporan dalam format poin-poin agar mudah dibaca, sertakan emoji, dan akhiri dengan kesimpulan apakah pasar Bullish atau Bearish.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -96,
        64
      ],
      "id": "1df47363-5ecd-4854-82be-0b1f2a5571e2",
      "name": "Membuat Kesimpulan1"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        32,
        224
      ],
      "id": "da499349-bcd0-4c37-bbad-62ce29a86120",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "TBKCwA5KivmDJdyo",
          "name": "Groq account 2(kaff23)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5927421703",
        "text": "={{ $json.text || $json.output || 'Laporan tidak tersedia' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        64
      ],
      "id": "54c1ec90-a708-4a32-9f70-4d113699feb4",
      "name": "Kirim Laporan1",
      "webhookId": "37a1163a-037c-4a6a-a13f-0f8fdfd149d1",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Tiap 15 menit": {
      "main": [
        [
          {
            "node": "Pengambil Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pengambil Data": {
      "main": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Sentimen": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tiap jam 7 pagi1": {
      "main": [
        [
          {
            "node": "Baca Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Data1": {
      "main": [
        [
          {
            "node": "Analisis Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Data1": {
      "main": [
        [
          {
            "node": "Membuat Kesimpulan1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kesimpulan1": {
      "main": [
        [
          {
            "node": "Kirim Laporan1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat Kesimpulan1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5cb28308-bcbc-4b4c-8e78-a5de1062edad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37e9a66e7d3e46d7627d672ccf295a9c9772ebeec4bcaca586afcb7d6b434629"
  },
  "id": "aIbO27zSqDaUi3LD",
  "tags": []
}