Laporan Pengeluaran Mingguan.json
{
  "name": "Laporan Pengeluaran Mingguan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "85dd596d-a8b6-46ac-a4f0-a77b0d55c919",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DWY6e57-gt7GzXjqTIjcQMrZQmh4LvXSG4jUjB-SxLk",
          "mode": "list",
          "cachedResultName": "Data Dummy Catatan Keuangan_ver2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DWY6e57-gt7GzXjqTIjcQMrZQmh4LvXSG4jUjB-SxLk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DWY6e57-gt7GzXjqTIjcQMrZQmh4LvXSG4jUjB-SxLk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "de239df1-a2e3-46c9-9c08-db60bd842f69",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "doLcSvVcltHLM36R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b54aaaec-f0c7-49ca-b139-9cf3c6d82778",
              "leftValue": "={{ $node[\"Filter 7 Hari & Format Teks\"].json.hasExpenses }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "0d256230-eef9-4e0f-9e2c-311e1df69bd4",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst today = new Date();\ntoday.setHours(23, 59, 59, 999); // inklusif hari ini sampai akhir hari\n\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(today.getDate() - 7);\nsevenDaysAgo.setHours(0, 0, 0, 0);\n\nlet weeklyExpenses = [];\nlet formattedString = \"Data pengeluaran saya minggu ini:\\n\";\nlet hasExpenses = false;\n\nfor (const item of items) {\n  const rawTanggal = item.json.Tanggal; // format: \"13/04/2026\"\n  \n  // Parse manual DD/MM/YYYY → YYYY-MM-DD agar valid di semua engine\n  const [day, month, year] = rawTanggal.split(\"/\");\n  const expenseDate = new Date(`${year}-${month}-${day}`);\n\n  if (expenseDate >= sevenDaysAgo && expenseDate <= today) {\n    weeklyExpenses.push(item.json);\n    formattedString += `- ${item.json.Deskripsi}: Rp${item.json[\"Jumlah (IDR)\"]}\\n`;\n    hasExpenses = true;\n  }\n}\n\nreturn [{\n  json: {\n    promptData: formattedString,\n    hasExpenses: hasExpenses\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "7dfe9849-3038-4a80-892e-a2b01352e1cd",
      "name": "Filter 7 Hari & Format Teks"
    },
    {
      "parameters": {
        "chatId": "5927421703",
        "text": "Tidak ditemukan log pengeluaran untuk 7 hari terakhir. Tidak ada analisis AI yang dibuat.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        176
      ],
      "id": "46ef7b93-1bee-4c4f-be08-d05b86c8fb91",
      "name": "Send a text message",
      "webhookId": "a2a2383e-19f7-480e-94c0-846f9402db33",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis data pengeluaran berikut:\n{{ $node[\"Filter 7 Hari & Format Teks\"].json.promptData }}\n\nTugas Anda:\n1. Tulis ringkasan kebiasaan belanja saya minggu ini dalam bentuk paragraf singkat.\n2. Berikan 1 saran penghematan konkret yang paling masuk akal berdasarkan data tersebut.\n\nAturan Penulisan:\n- JANGAN gunakan simbol markdown seperti bintang (**), pagar (###), atau dash (-).\n- Gunakan bahasa manusia yang santai tapi profesional.\n- Langsung ke poin utama tanpa kalimat pembuka seperti \"Tentu, ini ringkasannya\".\n- Pisahkan antara ringkasan dan saran hanya dengan baris baru (enter).",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        -96
      ],
      "id": "97eddccd-cd02-43af-a9a3-416ad8adcc8d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        832,
        64
      ],
      "id": "9931a7ef-139d-4f4c-be39-669654f66f19",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HIuV1ymlPfEjjj4B",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5927421703",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        -96
      ],
      "id": "0e2b2a7c-223e-4453-9ee5-acf4e01d3c13",
      "name": "Send a text message1",
      "webhookId": "dbd64e1e-550d-43f4-95f6-bee8f9da8f72",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter 7 Hari & Format Teks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 7 Hari & Format Teks": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "36e86ee0-d339-4070-9ce3-8d7fb43ca373",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37e9a66e7d3e46d7627d672ccf295a9c9772ebeec4bcaca586afcb7d6b434629"
  },
  "id": "LMWyM2fL3Rn6WYSf",
  "tags": []
}