Otomasi Pengajuan Cuti Karyawan_Approval Handler.json
{
  "name": "Approval Handler",
  "nodes": [
    {
      "parameters": {
        "path": "=approval-handler",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        -240
      ],
      "id": "a52d31da-14f5-4e2c-aa5a-53ded09f610f",
      "name": "Webhook",
      "webhookId": "e08e8562-f016-43fd-8c60-79cbf9889047"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8cbce61b-9416-48fd-b8a2-ec1191f7ff29",
              "leftValue": "={{ $json.query.status && $json.query.status.toLowerCase().trim() === \"approved\" }}",
              "rightValue": "approved",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        0
      ],
      "id": "b81a0860-8431-4875-a3e1-4a83d5f002b7",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Berhasil! Pengajuan cuti telah disetujui. Saldo karyawan\nsudah dipotong otomatis.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1104,
        -96
      ],
      "id": "2efe0193-73f1-44d0-beb8-52e520c8b751",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.query.email }}",
        "subject": "Pengajuan Cuti DISETUJUI",
        "message": "=Halo,\n\nKabar baik! Pengajuan cuti Anda telah DISETUJUI oleh Manager.\n\nDetail:\n- Durasi: {{ $('Webhook').item.json.query.days }} Hari\n- Status: APPROVED\n- Saldo Cuti: Telah dipotong otomatis.\n\nTerima kasih,\nHR System\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        -96
      ],
      "id": "f7c34651-a67f-451a-a408-06eb1b7cafc4",
      "name": "Send a message1",
      "webhookId": "5510f64c-d832-4beb-b2f5-eebd66bd516f",
      "credentials": {
        "gmailOAuth2": {
          "id": "3adBAiLz0qnKYTWT",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan_ver2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Saldo_Cuti": "={{ $json.newBalance }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nama_Lengkap",
              "displayName": "Nama_Lengkap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Saldo_Cuti",
              "displayName": "Saldo_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager_Email",
              "displayName": "Manager_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        -96
      ],
      "id": "aaa45e51-db01-4190-a29b-edbf45795542",
      "name": "Update Saldo Cuti",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZqGyu2K0RKcozbdX",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Konfirmasi: Pengajuan cuti DITOLAK. Tidak\nada saldo yang dipotong.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        96
      ],
      "id": "7184cb03-1fc6-4f9c-811a-d1e92c888be8",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data,\n    statusCheck: data.query?.status,\n    isApproved: data.query?.status?.toLowerCase().trim() === 'approved'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        0
      ],
      "id": "cf1e94fc-aca8-4516-a290-f1042b15d036",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan_ver2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.query.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        -96
      ],
      "id": "f0c48f04-e404-42c5-adc0-5901ba898c09",
      "name": "Cari Data Karyawan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZqGyu2K0RKcozbdX",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil data dari Webhook (Node paling awal)\n// Kita butuh 'days' (jumlah hari cuti) yang dikirim lewat URL\nconst webhookData = $('Webhook').first().json.query;\nconst daysRequested = parseInt(webhookData.days);\n\n// 2. Ambil data dari Google Sheets (Node sebelumnya)\n// Kita butuh 'Saldo_Cuti' saat ini\nconst currentData = items[0].json;\nconst currentBalance = parseInt(currentData.Saldo_Cuti);\n\n// 3. Hitung Saldo Baru\nconst newBalance = currentBalance - daysRequested;\n\n// 4. Return data untuk update\nreturn [{\n  json: {\n    ...currentData, // Bawa semua data lama (termasuk row_number)\n    newBalance: newBalance\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -96
      ],
      "id": "c9b6b824-d70d-4bc4-b18e-e1dabc0ba226",
      "name": "Hitung Saldo Baru"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan_ver2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 637903758,
          "mode": "list",
          "cachedResultName": "Log Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4/edit#gid=637903758"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $('Webhook').item.json.query.id }}",
            "Status": "Approved"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -96
      ],
      "id": "e1e41163-176b-4e45-991e-3635611c1c29",
      "name": "Update Logs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZqGyu2K0RKcozbdX",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.query.email }}",
        "subject": "Pengajuan Cuti DITOLAK",
        "message": "=Halo,\n\nMohon maaf, pengajuan cuti Anda untuk durasi {{ $('Webhook').item.json.query.days }} hari telah DITOLAK oleh Manager.\n\nSilakan hubungi atasan Anda untuk diskusi lebih lanjut.\n\nSalam,\nHR System\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        272,
        96
      ],
      "id": "4a6059f3-8a7b-4847-9f6f-0201f4a5a046",
      "name": "Cuti Ditolak",
      "webhookId": "5510f64c-d832-4beb-b2f5-eebd66bd516f",
      "credentials": {
        "gmailOAuth2": {
          "id": "3adBAiLz0qnKYTWT",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan_ver2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 637903758,
          "mode": "list",
          "cachedResultName": "Log Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMtYSDmc6nQvCkEmwDysNEpkfi3zQRDQ0yFbbhBZmU4/edit#gid=637903758"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $('Webhook').item.json.query.id }}",
            "Status": "Rejected"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        96
      ],
      "id": "43596059-3c7f-4d6b-9a48-a55163f604f8",
      "name": "Update Logs1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZqGyu2K0RKcozbdX",
          "name": "Google Sheets account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Cari Data Karyawan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti Ditolak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Saldo Cuti": {
      "main": [
        [
          {
            "node": "Update Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Update Logs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Data Karyawan": {
      "main": [
        [
          {
            "node": "Hitung Saldo Baru",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hitung Saldo Baru": {
      "main": [
        [
          {
            "node": "Update Saldo Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Logs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti Ditolak": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8b8442c6-65a2-48f2-b7ad-daa1cb3cefd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37e9a66e7d3e46d7627d672ccf295a9c9772ebeec4bcaca586afcb7d6b434629"
  },
  "id": "GCuPJw8TQil6wxcO",
  "tags": []
}