Pembuatan Konten Rutin_final_freeVersion.json
{
  "name": "Pembuatan Konten Rutin_final_freeVersion",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a3efcc0-b3c8-48bd-aa08-b4d1f2e8456c",
              "name": "tanggal",
              "value": "={{ $today }}",
              "type": "string"
            },
            {
              "id": "beedbf80-f0ed-4444-8c0b-61c79db6aa0e",
              "name": "tema",
              "value": "Teknologi & Produktivitas",
              "type": "string"
            },
            {
              "id": "c2d3df98-35ec-4d7f-b0ca-be759aff9821",
              "name": "waktu",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        608
      ],
      "id": "eec427df-b807-412c-b086-c11af09a2cca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Buat rencana konten harian untuk {{ $json.tanggal }} dengan tema  {{ $json.tema }} \n\nSaya mau Anda buatnya dalam bentuk nomor atau point.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -480,
        608
      ],
      "id": "5c606349-a1f3-4ae7-a506-b7e6c1d71a84",
      "name": "Membuat Ide Konten"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"time_slot\": \"\",\n    \"title\": \"\",\n    \"platforms\": [],\n    \"focus\": \"\",\n    \"ideas\": []\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -336,
        448
      ],
      "id": "4bd7db95-dbd4-4212-85f9-796d2551c1db",
      "name": "Output LLM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ced750ba-f13e-40f5-977a-e35e208b0abe",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "48b34c9d-da67-4e17-bc24-cb371224277e",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "16ef9753-a8c5-4768-9848-dda185de0fd2",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "cf657efe-db22-42e7-8569-746eb5d1910c",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "57f2f647-71f6-4761-b622-334ebfb2c36b",
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        128
      ],
      "id": "eac67d10-8a6c-4c2d-868a-cb0a0cad8163",
      "name": "Output 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ced750ba-f13e-40f5-977a-e35e208b0abe",
              "name": "time_slot",
              "value": "={{ $json.output[1].time_slot }}",
              "type": "string"
            },
            {
              "id": "48b34c9d-da67-4e17-bc24-cb371224277e",
              "name": "title",
              "value": "={{ $json.output[1].title }}",
              "type": "string"
            },
            {
              "id": "16ef9753-a8c5-4768-9848-dda185de0fd2",
              "name": "platform",
              "value": "={{ $json.output[1].platforms }}",
              "type": "string"
            },
            {
              "id": "cf657efe-db22-42e7-8569-746eb5d1910c",
              "name": "focus",
              "value": "={{ $json.output[1].focus }}",
              "type": "string"
            },
            {
              "id": "57f2f647-71f6-4761-b622-334ebfb2c36b",
              "name": "ide",
              "value": "={{ $json.output[1].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        288
      ],
      "id": "bfb6796a-5d0a-4520-a253-e323507528f9",
      "name": "Output 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ced750ba-f13e-40f5-977a-e35e208b0abe",
              "name": "time_slot",
              "value": "={{ $json.output[2].time_slot }}",
              "type": "string"
            },
            {
              "id": "48b34c9d-da67-4e17-bc24-cb371224277e",
              "name": "title",
              "value": "={{ $json.output[2].title }}",
              "type": "string"
            },
            {
              "id": "16ef9753-a8c5-4768-9848-dda185de0fd2",
              "name": "platform",
              "value": "={{ $json.output[2].platforms }}",
              "type": "string"
            },
            {
              "id": "cf657efe-db22-42e7-8569-746eb5d1910c",
              "name": "focus",
              "value": "={{ $json.output[2].focus }}",
              "type": "string"
            },
            {
              "id": "57f2f647-71f6-4761-b622-334ebfb2c36b",
              "name": "ide",
              "value": "={{ $json.output[2].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        448
      ],
      "id": "e4ef857f-564d-424d-a581-120d3f409a99",
      "name": "Output 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ced750ba-f13e-40f5-977a-e35e208b0abe",
              "name": "time_slot",
              "value": "={{ $json.output[3].time_slot }}",
              "type": "string"
            },
            {
              "id": "48b34c9d-da67-4e17-bc24-cb371224277e",
              "name": "title",
              "value": "={{ $json.output[3].title }}",
              "type": "string"
            },
            {
              "id": "16ef9753-a8c5-4768-9848-dda185de0fd2",
              "name": "platform",
              "value": "={{ $json.output[3].platforms }}",
              "type": "string"
            },
            {
              "id": "cf657efe-db22-42e7-8569-746eb5d1910c",
              "name": "focus",
              "value": "={{ $json.output[3].focus }}",
              "type": "string"
            },
            {
              "id": "57f2f647-71f6-4761-b622-334ebfb2c36b",
              "name": "ide",
              "value": "={{ $json.output[3].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        608
      ],
      "id": "102e7d44-eb33-4f89-99d8-8367490de049",
      "name": "Output  4"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        528
      ],
      "id": "1f4cac6f-7c90-4613-81d4-eff1ab858491",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "5927421703",
        "text": "=Title: {{ $json.title }}\n\nPlatform: {{ $json.platform }}\n\nIde: {{ $json.ide }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        560
      ],
      "id": "72cd77a2-ded8-436e-8518-8aceb13ee149",
      "name": "Kirim Ide ke Tim",
      "webhookId": "6f7b959f-91ae-445f-a295-aec2be83d29b",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0cfd0e10-f285-4e59-816b-672142b25d6e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1168,
        624
      ],
      "id": "cb9b7768-af85-468f-bcf8-74f9a467c91e",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Harap ketik /start untuk memulai.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -880,
        448
      ],
      "id": "36fc51ab-7da7-4949-b762-73156075fb35",
      "name": "Format salah (False)",
      "webhookId": "344961dc-582f-4d28-a91e-ccc0d9b7f5bc",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        1008
      ],
      "id": "66cde4d1-1c80-4a4c-b235-6e6d25b1c72e",
      "name": "Kirim Gambar",
      "webhookId": "280810a6-c0e2-4982-8828-7ff14e19b303",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "#  Proses Membuat Ide Konten",
        "height": 640,
        "width": 2176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1568,
        112
      ],
      "id": "d7960544-8ed8-4ea8-bbf0-c032e8dc5b72",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "##  Proses membuat gambar berdasarkan ide yang dipilih",
        "height": 272,
        "width": 2144,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1568,
        944
      ],
      "id": "9bc24bc7-0b21-41d0-8192-f575e20df9a3",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "##  Proses membuat video berdasarkan gambar yang dikirim pada langkah diatas",
        "height": 464,
        "width": 2448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1552,
        1424
      ],
      "id": "e1cf8905-ba1d-48f6-be5e-b26117b472ac",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0aef80fb-8f15-48d2-8720-631834a6e130",
              "name": "prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        1024
      ],
      "id": "8c7fd7d8-3323-4fa2-b977-620a46d59cd2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"model\": \"grok-imagine/text-to-image\",\n    \"input\": {\n      \"prompt\": $('Edit Fields1').item.json.prompt,\n      \"aspect_ratio\": \"3:2\"\n    }\n  })\n}}",
        "options": {}
      },
      "id": "86b4306d-c787-4d0d-9cd8-e55298218f7c",
      "name": "Mengirim Image Generation Request ke KIE.AI API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1104,
        1024
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "6af20512-105f-4b5c-be2d-0c1ceb42e695",
      "name": "Menunggu Proses Generate Gambar",
      "type": "n8n-nodes-base.wait",
      "position": [
        -896,
        1024
      ],
      "webhookId": "bb6c2821-9586-44b7-8606-2ee69a77ed75",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.data.taskId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields2').item.json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "faecce71-2487-4bda-9b68-4232049a6b66",
      "name": "Mendapatkan Status Generate",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -672,
        1024
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "db9a5dec-997b-4c3f-9582-37c9bbeb19ff",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "=success",
              "rightValue": "={{ $json.data.state }}"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "3fab20d2-b8c6-4c52-a840-6bae8da7565d",
      "name": "Check Jika Generate Sudah Selesai",
      "type": "n8n-nodes-base.if",
      "position": [
        -448,
        1024
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const urls = [\n  $json.img1,\n  $json.img2,\n  $json.img3,\n  $json.img4\n].filter(Boolean);\n\n// jadikan 1 URL = 1 item\nreturn urls.map((url, index) => ({\n  json: {\n    url,\n    index: index + 1\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        1008
      ],
      "id": "b9f402b8-533f-4c7a-9b75-c136201a2209",
      "name": "Loop Image"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        1008
      ],
      "id": "f0841367-2482-42fd-b7de-612aaa987bac",
      "name": "Download Gambar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8889b9f-cf2f-45a0-a3a4-b79f32bbb507",
              "name": "api_key",
              "value": "f59be8d391ce81c9b4110ce10b277301",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        1024
      ],
      "id": "a0c3d5bd-ee03-4dde-94d4-637c89f8e897",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  img1: result.resultUrls[0] || null,\n  img2: result.resultUrls[1] || null,\n  img3: result.resultUrls[2] || null,\n  img4: result.resultUrls[3] || null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        1008
      ],
      "id": "b39c7e04-9fa3-40b4-8e96-caa826e116c3",
      "name": "Format Result"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1600
      ],
      "id": "e349f129-900d-4695-bcc4-18155db7c398",
      "name": "Get a file",
      "webhookId": "8a10aa78-8500-4f40-b7d0-52471f024721",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5a1d7f3-0001",
              "name": "api_key",
              "value": "0828bffb8b40c70662059af7d3fadb12",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        1600
      ],
      "id": "f62f3024-8124-4387-b4a8-000bc55f680f",
      "name": "Set API Key1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.imgbb.com/1/upload?key={{ $('Set API Key1').item.json.api_key }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1088,
        1600
      ],
      "id": "596b417e-3eea-4577-bb42-7dbfd1c530fd",
      "name": "imgBB"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8889b9f-cf2f-45a0-a3a4-b79f32bbb507",
              "name": "api_key",
              "value": "f59be8d391ce81c9b4110ce10b277301",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        1600
      ],
      "id": "4509f4c0-2517-4cac-895c-33a203c693d0",
      "name": "Set API Key"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set API Key').item.json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"image_urls\": [\n      \"{{ $('imgBB').item.json.data.url }}\"\n    ],\n    \"prompt\": \"animasikan gambar ini menjadi video dengan durasi 6 detik\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -704,
        1584
      ],
      "id": "d7f68127-535b-48df-9b38-9a3e40ed85cd",
      "name": "Mengirim Video Generation Request"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -368,
        1584
      ],
      "id": "59f28ec3-c467-4fcc-8e55-001a997f1935",
      "name": "Menunggu Proses Generate Video",
      "webhookId": "cc2f104f-6827-4ae3-9d78-a0c834824aea"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Mengirim Video Generation Request').first().json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set API Key').item.json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        1584
      ],
      "id": "f28939d2-3f15-4a23-99da-d2e38b9051bf",
      "name": "Mendapatkan Status Generate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5706a3f6-24c0-4936-980b-a332070e1a57",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        1584
      ],
      "id": "d31f192f-98ab-4407-8d22-34b4effe3333",
      "name": "Check Jika Generate Sudah Selesai1"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  json: {\n    videoUrl: result.resultUrls?.[0] || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        1568
      ],
      "id": "7f9aa9af-fc13-4960-978b-7af2f83f3a71",
      "name": "Parse Video URL"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        1568
      ],
      "id": "e7a5e866-bdaa-4fd4-822e-42a6d840b614",
      "name": "Download Video"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        1568
      ],
      "id": "67782b83-cb08-4f10-a4f5-c0e7fd86ff89",
      "name": "Send a video",
      "webhookId": "3896b5a6-b542-485b-a0e2-ebf680907f04",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2176,
        1024
      ],
      "id": "220e8c95-669d-4f95-b341-c32ff340dd3f",
      "name": "Telegram Trigger1",
      "webhookId": "f306a709-4a6c-4d57-92a7-bb262bd52e18",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "bb0c7351-48aa-44db-867c-1af41a5845d6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "772013c2-8697-4b74-943e-226fe212af8a",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Title",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84225419-f387-44ef-ba8e-4f2f779be83c",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1968,
        1008
      ],
      "id": "8104a8ea-5d94-4fd6-b825-e968bc812c31",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Systia sedang memproses request Anda, harap tunggu sebentar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2016,
        1264
      ],
      "id": "d26c76cd-5580-4b00-b760-e7e4c1b91b82",
      "name": "Respon Cepat",
      "webhookId": "c5faba3b-7193-4911-bc4f-fd9bc0d50f15",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -480,
        448
      ],
      "id": "cdf33ccb-0e15-4ebd-b7a7-2be81037e0c7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HIuV1ymlPfEjjj4B",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Ide Konten": {
      "main": [
        [
          {
            "node": "Output 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output  4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output LLM": {
      "ai_outputParser": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Output 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Output 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Output  4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Kirim Ide ke Tim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format salah (False)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Image Generation Request ke KIE.AI API": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu Proses Generate Gambar": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan Status Generate": {
      "main": [
        [
          {
            "node": "Check Jika Generate Sudah Selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Jika Generate Sudah Selesai": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Image": {
      "main": [
        [
          {
            "node": "Download Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Gambar": {
      "main": [
        [
          {
            "node": "Kirim Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Mengirim Image Generation Request ke KIE.AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Loop Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Set API Key1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set API Key1": {
      "main": [
        [
          {
            "node": "imgBB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imgBB": {
      "main": [
        [
          {
            "node": "Set API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set API Key": {
      "main": [
        [
          {
            "node": "Mengirim Video Generation Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Video Generation Request": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu Proses Generate Video": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan Status Generate1": {
      "main": [
        [
          {
            "node": "Check Jika Generate Sudah Selesai1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Jika Generate Sudah Selesai1": {
      "main": [
        [
          {
            "node": "Parse Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respon Cepat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "86b6d29a-86d2-4e28-aae7-23691d12d632",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37e9a66e7d3e46d7627d672ccf295a9c9772ebeec4bcaca586afcb7d6b434629"
  },
  "id": "UqoeE4Q1B4CWZloI",
  "tags": []
}