SOP Otomation Bot.json
{
  "name": "SOP Otomation Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "b2ffe913-78ee-4ffb-ba1f-5e9b3c5b9398",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        480
      ],
      "webhookId": "5a01b368-e03f-4667-b7ca-b29e9364188d",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fa12b7b7-0cb7-41a0-9081-a350b6c26641",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "129d0c4c-152a-458b-b813-f5682eb8a987",
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "94b5d141-0d84-42e9-a39f-5a6aed487aed",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -128,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d373eca0-dea4-425a-be4d-8ec769231faa",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc33bbd6-a4eb-49a6-a79e-0161bf328ee0",
      "name": "Periksa Pesan",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        144,
        464
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Selamat datang di Asisten SOP Joy! Anda bisa bertanya melalui tombol dibawah ini.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "83e8eaad-2e2c-43e1-b820-2c9bacf20e4e",
      "name": "True Output",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        336,
        352
      ],
      "webhookId": "461734b5-bc35-4545-8af6-60b1ec2f4551",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Untuk memulai percakapan, harap ketik /start",
        "additionalFields": {}
      },
      "id": "cca99fac-0e33-44a8-9cb0-a44142305d06",
      "name": "False Output",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        336,
        560
      ],
      "webhookId": "393d49f2-dd77-4513-a4ca-0c6a620bfd01",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "38fe89a7-2c40-4329-94f3-6783a554dfeb",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "reimbursement",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "60713d15-481b-4658-9111-2d857b79c1b1",
      "name": "True Reimbursement",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -112,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "81e56398-45ed-495a-b72c-1ea30e9df207",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "cuti",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2dbdf149-9b84-4eec-8e84-203c72df5988",
      "name": "True Cuti",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -64,
        976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e07a8a7a-8281-4c5b-8914-33e881c64e00",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "lembur",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d3b9ab5-c9f9-4ae0-8e6e-062bf9bf137f",
      "name": "True Lembur",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16,
        1216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f6b0877e-2268-4a15-82e1-9e9ae9cd51a8",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "asuransi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fa56cbb8-8f4c-4a79-a6ad-f3ba08369a32",
      "name": "True Asuransi",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        64,
        1472
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "49a101fd-fd20-46fe-8622-2fa9f48a3dab",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "alat_kerja",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "29c7637f-c2f4-4985-af94-5f157d4a6514",
      "name": "True Alat Kerja",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        112,
        1712
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "def8890f-c2db-438e-81e9-cb5a9cfedb13",
              "name": "reimbursement",
              "value": "=Karyawan harus mengisi formulir, melampirka n bukti bayar asli, dan menyerahkannya ke ma najer. Pembayaran akan diproses dalam 14 har i kerja.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        704
      ],
      "id": "fe429242-6beb-45e6-95b6-f2515ca3d389",
      "name": "Reimbursement"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f3c4c7d-c742-47d5-838d-3f55cee03564",
              "name": "cuti",
              "value": "=Karyawan harus mengajukan cuti melalui portal HRD setidaknya 2 minggu sebelum tanggal cuti.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        976
      ],
      "id": "fd18d0f9-4787-4a77-8f9d-2d823dbee917",
      "name": "Cuti"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f51bc416-3e96-4ecc-9674-b209e54e0cc6",
              "name": "lembur",
              "value": "Lembur diajukan terlebih dahulu dan harus mendapat persetujuan atasan. Perhitungan mengikuti kebijakan perusahaan yang berlaku.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        1216
      ],
      "id": "0cca4994-0704-42cf-b7c4-72b6dac4a89d",
      "name": "Lembur"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fe772c5-362a-4f69-b334-c9c89b2ea92a",
              "name": "asuransi",
              "value": "Klaim asuransi dapat diajukan dengan melengkapi dokumen yang dibutuhkan sesuai ketentuan. Silakan hubungi HR untuk detail lebih lanjut.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        1472
      ],
      "id": "fef8fa46-0001-4726-adee-651de1a418f4",
      "name": "Asuransi"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a1d703b-cbff-48e1-bf6c-e9d7558597ed",
              "name": "alat_kerja",
              "value": "Permintaan alat kerja dapat diajukan melalui sistem dengan persetujuan atasan dan akan diproses sesuai kebutuhan operasional.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        1712
      ],
      "id": "6d1e1acd-a47e-44d9-b8c2-7fc4710b379e",
      "name": "Alat Kerja"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.reimbursement }}\n\nmau bertanya apa lagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Pengajuan Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "8e660150-0df5-42b9-a74d-904646cbd979",
      "name": "Send Reimbursement",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        336,
        720
      ],
      "webhookId": "461734b5-bc35-4545-8af6-60b1ec2f4551",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.cuti }}\n\nmau bertanya apa lagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Pengajuan Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b0b0758e-b382-4d57-a6fd-33bdaeaa8620",
      "name": "Send Cuti",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        336,
        960
      ],
      "webhookId": "461734b5-bc35-4545-8af6-60b1ec2f4551",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.lembur }}\n\nmau bertanya apa lagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Pengajuan Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "acb0032a-7251-4b4f-a942-4e73a2d7c234",
      "name": "Send Lembur",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        352,
        1200
      ],
      "webhookId": "461734b5-bc35-4545-8af6-60b1ec2f4551",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.asuransi }}\n\nmau bertanya apa lagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Pengajuan Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "43a1108f-da15-453f-89e3-855705cc619c",
      "name": "Send Asuransi",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        352,
        1456
      ],
      "webhookId": "461734b5-bc35-4545-8af6-60b1ec2f4551",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.alat_kerja }}\n\nmau bertanya apa lagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Pengajuan Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d38b1813-3b09-45fa-8372-2e6817d0fd31",
      "name": "Send Alat Kerja",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        496,
        1696
      ],
      "webhookId": "461734b5-bc35-4545-8af6-60b1ec2f4551",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Periksa Pesan": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Reimbursement": {
      "main": [
        [
          {
            "node": "Send Reimbursement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Cuti": {
      "main": [
        [
          {
            "node": "Send Cuti",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Lembur": {
      "main": [
        [
          {
            "node": "Send Lembur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Asuransi": {
      "main": [
        [
          {
            "node": "Send Asuransi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alat Kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Alat Kerja": {
      "main": [
        [
          {
            "node": "Send Alat Kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Periksa Pesan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reimbursement": {
      "main": [
        [
          {
            "node": "True Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti": {
      "main": [
        [
          {
            "node": "True Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembur": {
      "main": [
        [
          {
            "node": "True Lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asuransi": {
      "main": [
        [
          {
            "node": "True Asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alat Kerja": {
      "main": [
        [
          {
            "node": "True Alat Kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a11224da-aeb5-4314-954e-276d5add5887",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37e9a66e7d3e46d7627d672ccf295a9c9772ebeec4bcaca586afcb7d6b434629"
  },
  "id": "MJTCnbJjfE77Xey5",
  "tags": []
}