SOP AI Agent.json
{
  "name": "SOP AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        0
      ],
      "id": "5ee7c2e0-3386-47e6-9e07-2a1cd97a2172",
      "name": "Telegram Trigger",
      "webhookId": "373d7305-46ec-4798-84bd-985caa2fe487",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "95501331-d051-4cff-89a2-e1023977a03f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur reimbursement",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2dd54d6c-786c-4f78-a9d9-5bb18390564f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "06d2d980-337d-40e6-9162-8d3e93b93362",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana aturan lembur di perusahaan?",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3562885c-02b9-41b2-ad51-cee1e7dff582",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5d7ea60c-4c0c-42ea-97ae-2235201d4d2b",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "844627dc-1cee-45f6-9122-4737f7f6a90e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "1. Bagaimana prosedur reimbursement?",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b9c9d51d-2b53-4249-8b3e-40219b9b6ff1",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "2. Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4f6385c2-1185-48bf-85bc-7f36cf865ddf",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "3. Bagaimana aturan lembur di perusahaan?",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8b5e60fe-667f-4081-8c7b-0fd9ea53a2a0",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "4. Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "659485a9-e576-48b2-a841-b6d54bf26ee8",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "5. Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "88dc5cd7-d360-406b-820a-cc491fe95dc4",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "5927421703",
        "text": "=Pertanyaan yang Anda kirimkan tidak sesuai, harap gunakan pertanyaan di bawah ini:\n1. Bagaimana prosedur reimbursement?\n2. Prosedur pengajuan cuti tahunan\n3. Bagaimana aturan lembur di perusahaan?\n4. Apa syarat klaim asuransi kesehatan?\n5. Bagaimana prosedur permintaan alat kerja baru?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        192
      ],
      "id": "71aa9195-05ec-4e33-baa8-824a5d4ce9ca",
      "name": "Send a text message",
      "webhookId": "86757cdb-3e1b-4baf-8364-f20de899e941",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        416,
        48
      ],
      "id": "b25082d3-5f81-4fb4-891b-7eb608709fc5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "TBKCwA5KivmDJdyo",
          "name": "Groq account 2(kaff23)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah SOP AI Agent.\n\nATURAN KERAS:\n- Anda WAJIB menggunakan TOOL \"Data Pertanyaan\" sebelum\nmenjawab.\n- Jawaban HARUS diambil dari hasil tool.\n- DILARANG menggunakan pengetahuan umum.\n- Jika data tidak ditemukan, jawab: \"Maaf, informasi tersebut\ntidak tersedia di SOP.\"\n\nPertanyaan pengguna:\n{{ $node[\"Telegram Trigger\"].json.message.text }}\n\nJawaban berdasarkan SOP:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        -96
      ],
      "id": "c3fc8205-b271-46bb-880b-6b4b8e26c1c7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        -96
      ],
      "id": "d67442a3-4217-46ba-a7ce-d607c0ac115e",
      "name": "Send a text message1",
      "webhookId": "1bdf868e-6491-4fdd-86ee-156960c9a5f1",
      "credentials": {
        "telegramApi": {
          "id": "xYSTNugeAnhHKLFA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zAk6OjTFFiGvw1un0u4W7sN5zhATVTZEkBoLDY7DFCo",
          "mode": "list",
          "cachedResultName": "Data Pertanyaan untuk Karyawan_ver2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zAk6OjTFFiGvw1un0u4W7sN5zhATVTZEkBoLDY7DFCo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zAk6OjTFFiGvw1un0u4W7sN5zhATVTZEkBoLDY7DFCo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        560,
        48
      ],
      "id": "fc34e9ee-31f9-4fc8-b84b-496b7051bd72",
      "name": "Data Pertanyaan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wi1LyCC8L3lOLTcD",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Pertanyaan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d9186fa1-de84-42ff-bbcb-34b0f5e89fda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37e9a66e7d3e46d7627d672ccf295a9c9772ebeec4bcaca586afcb7d6b434629"
  },
  "id": "XrcYRnaQN9bcDR6l",
  "tags": []
}