Web Chatbot AI dengan Supabase Vector Store dari File Google Docs.json
{
  "name": "RAG 2 Google Drive rusmantomaryanto dan Supabase digit...",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-1",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "102de9d4-be9a-4814-a1da-e220cbb91afb",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        96
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "c7a08841-3830-48d0-adca-207e8691fe53",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        96
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3qzvLDnUvf2PayNe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "panduan",
          "mode": "list",
          "cachedResultName": "panduan"
        },
        "options": {}
      },
      "id": "73247596-1164-4aa0-8a99-b4525160491a",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -32,
        96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qaaEbbm7LqfDmBwx",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=id",
                "value": "={{ $('Edit Fields').item.json.id }}"
              }
            ]
          }
        }
      },
      "id": "3d8ba733-28fa-47c0-a60e-a7bf8126bd9b",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        128,
        272
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1750a45c-6e21-4e67-8b1f-b55d7ff58421",
      "name": "Recursive Character Text..",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        128,
        464
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "bd4a280c-ae4f-4dd3-8e0f-e7593cbcb939",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        272
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "5J6tuS6A3XJoaV8n",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "c006d52e-39b5-4f3c-a14d-b19b41eba5a6",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -864,
        288
      ],
      "webhookId": "chat-webhook-id"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah \"Asisten Akademik NF ACADEMY\", seorang ahli dalam pedoman penulisan ilmiah, tugas akhir, dan skripsi. \n\nTugas utama Anda adalah membantu mahasiswa memahami aturan penulisan ilmiah berdasarkan dokumen panduan yang tersimpan di database.\n\n### PROSEDUR JAWABAN:\n1. Gali informasi dari Tool Supabase Vector Store untuk menjawab setiap pertanyaan.\n2. Jawaban harus formal, terstruktur (gunakan bullet points jika perlu), dan mudah dipahami.\n3. Jika informasi yang ditanyakan (misal: ukuran margin, font, atau struktur BAB) ada di dokumen, sampaikan dengan detail.\n4. Jika pertanyaan pengguna TIDAK ADA dalam dokumen panduan atau tidak relevan dengan penulisan ilmiah, katakan dengan sopan: \"Maaf, saya tidak menemukan informasi tersebut dalam pedoman penulisan ilmiah yang tersedia. Silakan konsultasikan dengan dosen pembimbing Anda.\"\n\n### ATURAN BAHASA:\n- Gunakan Bahasa Indonesia yang baik dan benar (EYD).\n- Jangan memberikan informasi yang bersifat asumsi jika tidak ada di dokumen."
        }
      },
      "id": "12e91c19-98cd-4cda-a1c7-4a43ee3157a3",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -592,
        288
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f5216c1f-12fa-4708-83d5-4017750c41d8",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -640,
        528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "5J6tuS6A3XJoaV8n",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "sessionId",
        "contextWindowLength": 10
      },
      "id": "fee40a07-3651-4421-88ea-97b72f8f9db6",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -496,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "TQVICxKhs1gx7YSY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "KnowledgeBase",
        "toolDescription": "Use this tool to search and retrieve relevant information from the knowledge base to answer user questions.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list"
        },
        "options": {}
      },
      "id": "91016d54-d282-4d75-9e29-10f995ec7fc8",
      "name": "Supabase Vector...",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -272,
        432
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qaaEbbm7LqfDmBwx",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "ad825df6-5101-4174-85fe-72964b227972",
      "name": "Embeddings Google Gemini1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        592
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "5J6tuS6A3XJoaV8n",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LfxhJ6c1STotOmLlWc-1bCWoxRTBTZXD",
          "mode": "list",
          "cachedResultName": "NFA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LfxhJ6c1STotOmLlWc-1bCWoxRTBTZXD"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        96
      ],
      "id": "89dc46d4-ddb1-44be-8d6d-fc0d2b9bd9d6",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3qzvLDnUvf2PayNe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        96
      ],
      "id": "89ffa1c8-f696-47ea-8505-6a9eeb01cb95",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text..": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector...": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector...",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "134b3843-7214-473b-852d-ac3c0e554d6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37e9a66e7d3e46d7627d672ccf295a9c9772ebeec4bcaca586afcb7d6b434629"
  },
  "id": "qz3OYAaBThOengWh",
  "tags": []
}